<title>پنل مدیریت  |  دسترسی های نقش ها </title>
@model IEnumerable<_98market.DataLayer.Entities.Role.role>

@{
    ViewData["Title"] = "دسترسی ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int userId = Convert.ToInt16(ViewBag.UserId);
}

<div class="col-sm-12">
    <div class="panel">
        <div class="panel-body" style="margin-top:5%;">


            <div class="editable-responsive">
                <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <a href="/Admin/User/Role/@userId" id="addToTable" class="btn btn-primary waves-effect waves-light">ویرایش نقش ها<i class="fa fa-pencil"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            @if (TempData["Result"] != null)
                            {
                                if (TempData["Result"].ToString() == "true")
                                {
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        عملیات با موفقیت انجام شد .
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        خطادر انجام عملیات .
                                    </div>
                                }
                            }
                            <table class="table table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">#</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 443px;" aria-label="مرورگر: activate to sort column ascending"> نقش </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">#</th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 443px;" aria-label="مرورگر: activate to sort column ascending"> دسترسی </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            if (item.rolePermissions.Count != 0)
                                            {
                                                foreach (var rolePermission in item.rolePermissions)
                                                {
                                                    <tr class="gradeX odd" role="row">
                                                        <td class="sorting_1">@item.roleid</td>
                                                        <td class="sorting_1">@item.roltitle</td>
                                                        <td class="sorting_1">@rolePermission.Permissionid</td>
                                                        <td class="sorting_1">@rolePermission.permission.permissionTitle</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr class="gradeX odd" role="row">
                                                    <td class="sorting_1">@item.roleid</td>
                                                    <td class="sorting_1">@item.roltitle</td>
                                                    <td class="sorting_1"></td>
                                                    <td class="sorting_1"></td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td colspan="5" class="sorting_1">دسترسی ای  موجود نمی باشد .</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end: panel body -->

    </div> <!-- end panel -->
</div> <!-- end col-->
@section Scripts{
    <script src="~/CssSite/Js/sweetAlert.js"></script>

}

